body {
  background-color: whitesmoke;
}

#buttons {
  height: 400px;
  width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
  pointer-events: none;
}

#red {
  background-color: red;
  margin-bottom: 5px;
  margin-right: 5px;
  opacity: 0.4;
  transition: opacity 500ms;
}

#blue {
  background-color: blue;
  margin-bottom: 5px;
  margin-left: 5px;
  opacity: 0.4;
  transition: opacity 500ms;
}

#yellow {
  background-color: yellow;
  margin-top: 5px;
  margin-right: 5px;
  opacity: 0.4;
  transition: opacity 500ms;
}

#green {
  background-color: green;
  margin-top: 5px;
  margin-left: 5px;
  opacity: 0.4;
  transition: opacity 500ms;
}

.hidden {
  display: none;
}
