#buttons-container #buttons {
  height: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#red {
  background-color: red;
  opacity: 0.5;
  transition: opacity 500ms;
}

#blue {
  background-color: blue;
  opacity: 0.5;
  transition: opacity 500ms;
}

#yellow {
  background-color: yellow;
  opacity: 0.5;
  transition: opacity 500ms;
}

#green {
  background-color: green;
  opacity: 0.5;
  transition: opacity 500ms;
}

.hidden {
  display: none;
}
