.buttons {
  height: 200px;
  opacity: 0.4;
  transition: opacity 500ms;
  margin-top: 10px;
  margin-bottom: 10px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.hidden {
  display: none;
}
